.git
.github
.idea
.vscode
node_modules
npm-debug.log
yarn-error.log
vendor
.env
.env.*
!.env.example
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
phpunit.xml
.phpunit.result.cache
phpstan.neon
phpstan-baseline.neon
payload.json
deployer.php
drop_cols.php
fix_perms.php
test.php
test_api.php
test_niubiz.php
scratch
*.md
Dockerfile
.dockerignore
